body{
  background-color: #F0F0F2;
  font-family: Arial;
}
#whiteBox{
    width: 160px;
    height: 180px;
    border-radius: 4%;
    background-color: white;
    text-align: left;
}

#head{
    padding-top:5px;
}
#textField{
  width: 75%;
  margin-top: 5px;
}
.styleClass{
}
#countWords{
  background: blue;
  border: 0px;
  color:white;
  font-weight: bold;
  transition: 0.3s;

}
#countWords:hover{
  background: #7291FF;
  transition: 0.3s;
}
